<ion-content>
  <ion-row>
    <ion-col col-3>
      <button ion-button icon-only clear color="dark" (click)="backButtonClick()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-6 text-center>
      <ion-title>Detallles</ion-title>
    </ion-col>
    <ion-col col-3 text-right>
      <div *ngIf="!owner">
        <button ion-button icon-only clear [color]="isFavorite ? 'danger' : 'primary'" (click)="addFavorite()">
          <ion-icon *ngIf="!isFavorite" name="heart-outline"></ion-icon>
          <ion-icon *ngIf="isFavorite" name="heart"></ion-icon>
        </button>
      </div>
    </ion-col>
  </ion-row>
  <ion-list no-lines>
    <ion-item text-wrap><span class="header-project">{{project.name}}</span></ion-item>
    <ion-item>
      <p><span class="subheader-project">Categoría: </span>{{project.category}}</p>
      <p><span class="subheader-project">Subcategoría: </span>{{project.subCategory}}</p>
      <p><span class="subheader-project">Tiempo extimado: </span>{{project.durationTime}} días</p>
    </ion-item>
    <ion-item text-wrap><span>{{project.description}}</span></ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-4 text-left><p><ion-icon color="primary" name="checkmark-circle"></ion-icon> {{project.applied}} Aplicados</p></ion-col>
        <ion-col col-3 text-center><p><ion-icon color="primary" name="logo-usd"></ion-icon> {{project.value}}</p></ion-col>
        <ion-col col-5 text-right><p><ion-icon color="primary" name="calendar"></ion-icon> {{project.timeElapsed}}</p></ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col col-12>
      <div ion-text color="primary">Publicado por</div>
    </ion-col>
  </ion-row>
  <ion-item no-lines (click)="openProfile()">
    <ion-avatar item-start>
      <img src="{{project.ownerUrlImage}}">
    </ion-avatar>
    <h2>{{project.ownerName}}</h2>
    <p>{{project.ownerProfesion}}</p>
  </ion-item>
  <div *ngIf="owner">
    <ion-row>
      <ion-col col-6>
        <button ion-button block color="primary" (click)="editProject(project)">Editar</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="danger" (click)="deleteProject()">Borrar</button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="!owner">
    <ion-row *ngIf="canApply">
      <ion-col col-12>
        <button ion-button block color="primary" (click)="applyProject()">Aplicar</button>
      </ion-col>
    </ion-row>
    <div class="span-text" *ngIf="!canApply">
      <span>Ya has aplicado para este empleo. espera a que el empleador se comunique.</span>
    </div>
  </div>
</ion-content>
