page-project-detail {
    .header-project {
        color: #488aff;
        font-weight: bold;
        font-size: 16px;
    }
    .subheader-project {
        font-weight: bold;
        font-size: 14px;
    }
}
