page-login {
    .content {
     }
    .title {
        color: #488aff;
        font-size: 36px;
        text-align: center;
        margin-top: 30%;
        margin-bottom: 10%;
    }
    .mail {
        background-color: #f53d3d;
    }
    .facebook {
        background-color: #3b5998;
    }
    .likedin {
        background-color: #0077B5;
    }
}
