page-login {
    .form_login {
        margin-top: 40%;
        position: relative;
    }
    .content {
        background-image: url('/assets/imgs/login_backgroung.jpg');
        background-repeat: no-repeat;
        background-size:cover;
     }
    .mail {
    }
    .facebook {
        background-color: #3b5998;
    }
    .likedin {
        background-color: #0077B5;
    }
}
