page-login {
    .form_login {
        //margin-top: 5%;
        position: relative;
    }
    .mail {
    }
    .facebook {
        background-color: #3b5998;
    }
    .likedin {
        background-color: #0077B5;
    }
    .icon-eye {
        padding-top: 6%;
    }
}
