page-register {
    .form_login {
        margin-top: 30%;
        position: relative;
    }
    .content {
        background-image: url('/assets/imgs/login_backgroung.jpg');
        background-repeat: no-repeat;
        background-size:cover;
     }
}
