<ion-header>
  <ion-navbar>
    <ion-title>Reclutar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar 
      [(ngModel)]="myInput" 
      placeholder="Buscar"
      (input)="getUsers($event)" 
      (ionCancel)="onCancel()">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)='avanceFilter()'>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div padding *ngIf="filterUser">
    <ion-list no-lines>
      <ion-item *ngFor="let user of filterUser">
        <ion-avatar item-start>
          <img src="{{user.uriImage}}">
        </ion-avatar>
        <h2>{{user.username}}</h2>
        <p>{{user.profesion}}</p>
      </ion-item>
      <hr>
    </ion-list>
  </div>
</ion-content>
