page-project {
    .subtitulo {
        color: #488aff;
        font-weight: bold;
        font-size: 16px;
    }
    .item {
        padding: 0px;
    }
    .header-project {
        font-weight: bold;
    }
}
