page-edit-job-preferences {
    .header-preferences {
        color: #488aff;
        font-weight: bold;
        font-size: 16px;
        margin-left: 4%;
        margin-top: 5%;
    }
    .col {
        padding: 0;
    }
    .title {
        margin-top: 8%;
    }
    .col p label {
        color: gray;
        margin: 0;
    }
}
