<ion-content>
  <ion-row>
    <ion-col col-3>
      <button ion-button icon-only clear color="dark" (click)="backButtonClick()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-6 text-center><ion-title>Preferencias</ion-title></ion-col>
    <ion-col col-3></ion-col>
  </ion-row>
  <hr>
  <ion-list no-lines>
    <div class="header-preferences">Especifique su disponibilidad laboral</div>
    <ion-item>
      <ion-label>Estoy</ion-label>
      <ion-select [(ngModel)]="user.jobAvailability">
        <ion-option *ngFor="let status of statusJob">{{status}}</ion-option>
      </ion-select>
    </ion-item>
    <br>

    <div class="header-preferences">Especifique su interes laboral</div>
    <ion-item>
      <ion-label>Busco</ion-label>
      <ion-select [(ngModel)]="user.jobInterested">
        <ion-option *ngFor="let interes of interested">{{interes}}</ion-option>
      </ion-select>
    </ion-item>
    <br>

    <div class="header-preferences">Compensación deseada</div>
    <ion-item>
      <ion-icon name="logo-usd" small item-start></ion-icon>
      <ion-input [(ngModel)]="user.jobSalary" placeholder="0"></ion-input>
      <ion-select [(ngModel)]="user.jobSalaryFrecuency">
        <ion-option *ngFor="let frecuency of frecuencyPay">{{frecuency}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <br>
  
  <div padding>
    <button ion-button block (click)="saveProfile()">Guardar</button>
  </div>
</ion-content>
