<ion-content>
  <ion-row>
    <ion-col col-3>
      <button ion-button icon-only clear color="dark" (click)="backButtonClick()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-6 text-center><ion-title>Habilidades</ion-title></ion-col>
    <ion-col col-3></ion-col>
  </ion-row>
  <hr>

  <ion-item>
    <ion-label floating>Habilidad</ion-label>
    <ion-input [(ngModel)]="skillName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nivel</ion-label>
    <ion-select [(ngModel)]="level">
      <ion-option *ngFor="let level of skillsLevel">{{level}}</ion-option>
    </ion-select>
  </ion-item>
  <br>
  <div padding>
    <button ion-button block (click)="saveSkill()">Agregar Nueva</button>
  </div>
  <br>

  <div class="subtitulo">
    <p>Mis habilidades</p>
    <hr>
  </div>
  <ion-list no-lines>
    <ion-item *ngFor="let skill of user.skills; let i = index">
      {{skill.name}}
      <p>Nivel: {{skill.level}}</p>
      <ion-icon color="danger" name="close-circle" item-end (click)="deleteSkill(i)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
