<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only (click)="backButtonClick()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Habilidades</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-item>
      <ion-label floating>Habilidad</ion-label>
      <ion-input [(ngModel)]="skillName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nivel</ion-label>
      <ion-select [(ngModel)]="level">
        <ion-option *ngFor="let level of skillsLevel">{{level}}</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <button ion-button block (click)="saveSkill()">Agregar Nueva</button>
  </div>
  <br>
  <div class="subtitulo">
    <p>Mis habilidades</p>
  </div>
  <hr>
  <ion-list no-lines>
    <ion-item *ngFor="let skill of skills; let i = index">
      {{skill.name}}
      <p>Nivel: {{skill.level}}</p>
      <ion-icon color="danger" name="close-circle" item-end (click)="deleteSkill(i)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
