<ion-content>
  <div class="div_image">
    <ion-row>
      <ion-col col-6>
        <button ion-button icon-only clear color="light" (click)="closePage()">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6 text-right>
        <button ion-button icon-only clear [color]="isFavorite ? 'danger' : 'primary'" color="light" (click)="addFavorite()">
          <ion-icon *ngIf="!isFavorite" name="heart-outline"></ion-icon>
          <ion-icon *ngIf="isFavorite" name="heart"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <div>
      <img class="profile_img" src="{{userDetail.uriImage}}">
    </div>
    <div class="text_name">{{userDetail.username}}</div>
    <div class="text_title">{{userDetail.profesion}}</div>
  </div>

  <ion-card>
    <ion-card-header color="primary">Contacto</ion-card-header>
    <ion-card-content>
      <div *ngIf="userDetail.country" class="linea"><ion-icon name="compass" item-start></ion-icon>{{userDetail.country}}</div>
      <div *ngIf="userDetail.phone" class="linea"><ion-icon name="call" item-start></ion-icon>{{userDetail.phone}}</div>
      <div *ngIf="userDetail.email" class="linea"><ion-icon name="mail" item-start></ion-icon>{{userDetail.email}}</div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showSalary">
    <ion-card-header color="primary">Preferencias de empleo</ion-card-header>
    <ion-card-content>
      <div *ngIf="userDetail.jobAvailability || userDetail.jobAvailability">Estado: {{userDetail.jobAvailability}} {{userDetail.jobInterested}}</div>
      <div *ngIf="userDetail.jobSalary || userDetail.jobSalaryFrecuency">Salario: {{userDetail.jobSalary}} {{userDetail.jobSalaryFrecuency}}</div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showSkills">
    <ion-card-header color="primary">Habilidades</ion-card-header>
    <ion-card-content>
      <div *ngFor="let skill of userDetail.skills">
        <ion-row>
          <ion-col col-6>{{skill.name}}</ion-col>
          <ion-col col-6 text-right>{{skill.level}}</ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showExperience">
    <ion-card-header color="primary">Experiencia</ion-card-header>
    <ion-card-content>
      <div *ngFor="let exp of expertise">
        <ion-row>
          <ion-col col-6>{{exp.position}}</ion-col>
          <ion-col col-6 text-right>{{exp.monthStart}} {{exp.yearStart}} - {{exp.monthEnd}} {{exp.yearEnd}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>{{exp.company}}</ion-col>
          <ion-col col-6 text-right>{{exp.time}}</ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="userDetail.about">
    <ion-card-header color="primary">Resumen</ion-card-header>
    <ion-card-content>
      <p>{{userDetail.about}}</p>
    </ion-card-content>
  </ion-card>
  
  <div padding>
    <button block ion-button icon-start (click)="sendMessage()">
      <ion-icon name="ios-chatboxes"></ion-icon>
      Mensaje
    </button>
  </div>
  
</ion-content>
