page-home {
    .item {
        padding: 0px;
    }
    .label-md {
        padding: 0px;
        margin: 0;
    }
    .header-project {
        color: #488aff;
        font-weight: bold;
        font-size: 16px;
    }
}
