<ion-content>
  <ion-row>
    <ion-col col-3>
      <button ion-button icon-only color="dark" clear (click)="closePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-6 text-center><ion-title>Favoritos</ion-title></ion-col>
    <ion-col col-3></ion-col>
  </ion-row>
  <hr>
  <div>
    <ion-segment [(ngModel)]="favoritesSegment">
      <ion-segment-button value="projects">
        Proyectos
      </ion-segment-button>
      <ion-segment-button value="users">
        Usuarios
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="favoritesSegment">
    <ion-list no-lines *ngSwitchCase="'projects'">
      <div *ngFor="let project of projects" (click)="projectDetail(project)">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{project.ownerUrlImage}}">
          </ion-avatar>
          <h2>{{project.ownerName}}</h2>
          <p>{{project.ownerProfesion}}</p>
        </ion-item>
        <ion-item text-wrap>
          <span class="header-project">{{project.name}}</span><br>
          <p>{{project.description}}</p>
        </ion-item>
        <ion-item>
          <p>Publicado: {{project.timeElapsed}}</p>
        </ion-item>
        <hr>
      </div>
    </ion-list>
  
    <ion-list no-lines *ngSwitchCase="'users'">
      <ion-item *ngFor="let user of users" (click)="openContact(user)">
        <ion-avatar item-start>
          <img src="{{user.uriImage}}">
        </ion-avatar>
        <h2>{{user.username}}</h2>
        <p>{{user.profesion}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
