page-favorites {
    .segmentStyle {
        background-color: #e9e8e6;
    }
    .col p label {
        color: gray;
        margin: 0;
    }
    .col {
        padding: 0;
    }
    .title {
        margin-top: 8%;
    }
}
