page-edit-personal {
    .paragraph {
        border: 1px solid #488aff;
        border-radius: 3%;
    }
    .item {
        padding: 0%;
    }
    .col {
        padding: 0;
    }
    .title {
        margin-top: 8%;
    }
    .col p label {
        color: gray;
        margin: 0;
    }
}
